<div class="stopwatch-container">
  <h1>Stopwatch</h1>
  <div class="display">
    <span class="time-display">{{ hours | number: '2.0' }}:</span>
    <span class="time-display">{{ minutes | number: '2.0' }}:</span>
    <span class="time-display">{{ seconds | number: '2.0' }}</span>
  </div>
  <div class="buttons">
    <button mat-raised-button class="start-button" (click)="handleClock('IN')">Start</button>
    <button mat-raised-button class="stop-button" (click)="handleClock('OUT')">Stop</button>
    <button mat-raised-button class="reset-button" (click)="resetStopwatch()">Reset</button>
  </div>
</div> 
<br />
<div class="reminder-container" *ngIf="reminders.length > 0">
  <h2 class="text-center">Reminders</h2>
  <div class="reminder-card" *ngFor="let r of reminders">
    <button class="float-start bb" id="g"(click)=viewReminder(r)><mat-icon>X</mat-icon></button>
    <button class="float-end bb" id="r" (click)="deleteReminder(r)"><mat-icon>X</mat-icon></button>
    <p>- &nbsp;{{r.title}}</p>
  </div>
</div>
