.stopwatch-container {
    text-align: center;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    color: white;
  }
  
  h1 {
    color: #ff4757;
    margin-bottom: 20px;
  }
  
  .display {
    background-color: #2f3542;
    border-radius: 8px;
    padding: 15px;
    font-size: 2em;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .time-display {
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  
  .buttons button {
    margin: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .start-button {
    color: white;
    background-color: #2ed573;
  }
  
  .start-button:hover {
    background-color: #28a745;
  }
  
  .stop-button {
    color: white;
    background-color: #ff6348;
  }
  
  .stop-button:hover {
    background-color: #d63031;
  }
  
  .reset-button {
    color: white;
    background-color: #1e90ff;
  }
  
  .reset-button:hover {
    background-color: #007bff;
  }
  

.reminder-card{
  background-color: rgb(235, 138, 12);
  border-radius: 13px;
  border: 2px solid black;
}
.reminder-card p{
  padding-top: 5px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.bb{
  margin: 3px;
  border-radius: 20px;
}
#r{
  background-color: red;
}
#y{
  background-color: rgb(255, 230, 0);
}
#g{
  background-color: rgb(20, 157, 22);
}
