<!-- <mat-table [dataSource]="dataSrc">

  
  <ng-container matColumnDef="messenger">
    <mat-header-cell *matHeaderCellDef> Messenger </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{senderIsCurrent(item) ? item.reciever?.username: item.sender?.username}} </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="read">
    <mat-header-cell *matHeaderCellDef> Read </mat-header-cell>
    <mat-cell *matCellDef="let item"> 
      <p class="ms-2 mt-2">&nbsp;{{item.has_been_seen ? '🔴' : '🟢'}} </p>
    </mat-cell>
  </ng-container> -->