/* Footer Styles */
.footer-container{
    border: 2px solid rgb(0, 0, 0);
    height: 40px;
    background-color: rgb(148, 155, 157);
}
.app{
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../assets/guy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}